/* Style de réinitialisation complet de la page de rendu */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
  overflow: hidden;
}

/* Redimensionnement automatique de la zone graphique du Canvas */
canvas {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated; /* Maintient les bords des sprites parfaitement nets */
  background: rgb(0, 0, 0);
}

/* Cache pour masquer les banques d'images HTML natives */
.j1,
.j2,
.arena,
.asset-cache {
  display: none;
}
