body {
  background-color: rgb(17, 17, 17);
}

.droite {
  transform: scaleX(1);
}

.gauche {
  transform: scaleX(-1);
}

img {
  width: 20px;
  z-index: 10;
}

.elmt2 {
  filter: hue-rotate(89deg) brightness(1);
}
